
body {
    font-family: 'Georgia', serif;
    background-color: #111;
    color: #eee;
    padding: 20px;
    transition: background 0.5s, color 0.5s;
}
.dark-mode {
    background-color: #111;
    color: #eee;
}
.light-mode {
    background-color: #fff;
    color: #000;
}
header {
    text-align: center;
}
.logo {
    max-width: 120px;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
}
